{% extends "_base.html" %}

{% block content %}
{% load static %}

<style>
    * {
        box-sizing: border-box;
    }

    .flex-container {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 16px;
        margin: 100px auto 10px auto;
        padding: 10px 10px;
    }
    
    article {
        background-color: white;
    }

    .overview button {
        display: block;
        background: #3A72B9;
        border-radius: 4px;
        text-align: center;
        line-height: 40px;
        border-bottom: 2px solid black;
        margin-top: 13px;
        color: white;
        cursor: pointer;
        width: 100%;
    }

    .img-article img {
        height: 300px;
        width: 100%;
        object-fit: cover;
    }

    .overview {
        padding: 15px 10px;
    }

    .date {
        margin-bottom: 7px; 
        font-size: 0.75em;
        font-weight: 500;
        color: #3A72B9;
    }
    .title {
        font-size: 1.1em;
        font-weight: 650;
        margin-bottom: 10px;
        line-height: 1.4;
    }
    #content {
        overflow: hidden;
        text-overflow: ellipsis;
        max-height: 100px; /* Hauteur maximale initiale */
        transition: max-height 0.5s ease;
    }
    #content p {
        text-align: justify;
    }

    @media screen and (min-width: 768px) {

        article{
            max-width: 48%;
        }

        @media screen and (min-width: 860px) { /*992px*/
            article{
                max-width: 32%;
            }
            .flex-container{
                margin-top: 170px;
                padding: 20px;
            }
        }
    }

    @media screen and (max-width: 768px) {
        article {
            min-width: 100%;
        }
        .flex-container{
            gap: 25px;
            margin-top: 120px;
        }
        
    }

</style>

<section class="flex-container" >
     <article > <!-- ARTICLE CONFERENCES D'ORIENTATION -->
        <div class="img-article">
            <img src="{% static 'assets/conf_actu.png' %}" alt="Invitation aux conférences de Yaoundé">
        </div>
        <div class="overview">
            <p class="heading-blog">
                <p class="date"><i class="fa fa-calendar"></i> 20/10/2023</p>
                <h3 class="title">Conférences d'Orientation avec l'UCO</h3>
            </p>
            <div class="content" id="content">
                <p>Après des échanges passionnants lors du SAPEF, nous sommes ravis de vous inviter aux Conférences 
                    d'Orientation spéciales, organisées en partenariat avec les responsables du recrutement 
                    international de l'Université Catholique de l'Ouest (UCO) en France.
                    <br>C'est l'opportunité idéale pour plonger plus profondément dans les détails des programmes académiques,
                    découvrir les avantages uniques de l'UCO, et obtenir des réponses personnalisées à vos questions sur 
                    le processus de candidature, les possibilités de bourses, et bien plus encore.
                </p>
            </div>
            <button class="toggleBtn">Lire la suite <i class="fa fa-chevron-down"></i></button>
        </div>
    </article>
    
     <article > <!-- ARTICLE SAPEF -->
        <div class="img-article">
            <img src="{% static 'assets/sapef_actu.png' %}" alt="Invitation aux conférences de Douala">
        </div>
        <div class="overview">
            <p class="heading-blog">
                <p class="date"><i class="fa fa-calendar"></i> 27/09/2023</p>
                <h3 class="title">Rejoignez-nous au SAPEF!</h3>
            </p>
            <div class="content" id="content">
                <p>L'équipe passionnée de Lk Education sera présente pour représenter fièrement le stand de l'UCO. 
                    Profitez de cette occasion unique pour en apprendre davantage sur nos programmes académiques de 
                    qualité, nos installations modernes, et les multiples avantages d'une éducation en France.
                    
                    <br>Rejoignez-nous au Salon, explorez vos opportunités d'études et faites le premier pas vers un avenir 
                    académique brillant en France !
                </p>
                
            </div>
            <button class="toggleBtn">Lire la suite <i class="fa fa-chevron-down"></i></button>
        </div>
    </article>
    
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var toggleBtns = document.querySelectorAll('.toggleBtn');
        
            toggleBtns.forEach(function (toggleBtn) {
                toggleBtn.addEventListener('click', function () {
                    var content = this.closest('.overview').querySelector('.content');

                    if (content.style.maxHeight) {
                        content.style.maxHeight = null;
                        toggleBtn.innerHTML = 'Lire la suite <i class="fa fa-chevron-down"></i>';
                    } else {
                        content.style.maxHeight = content.scrollHeight + 'px';
                        toggleBtn.innerHTML = 'Lire moins <i class="fa fa-chevron-up"></i>';
                    }
                });
            });
        }); 

    </script>
    
</section>

{% endblock content %}