{% extends "_base.html" %}

{% block content %}
{% load static %}

    <style>
        * {
            box-sizing: border-box;
        }

        .gallery {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            gap: 16px;
            max-width: 1500px;
            margin: 80px auto 0 auto;
            padding: 20px 10px;
        }

        .gallery img {
            width: 100%;
            max-width: 400px;
            height: 350px;
            object-fit: cover;
        }

        @media screen and (min-width: 860px) {
            .gallery{
                margin-top: 170px;
            }
        }

    </style>

    <div class="gallery">
        <img src="{% static 'assets/Galerie/Conf_yde_1.png' %}"/>
        <img src="{% static 'assets/Galerie/Conf_yde_2.png' %}"/>
        <img src="{% static 'assets/Galerie/Conf_yde_3.png' %}"/>
        <img src="{% static 'assets/Galerie/Conf_dla_1.png' %}"/>
        <img src="{% static 'assets/Galerie/Conf_dla_2.png' %}"/>
        <img src="{% static 'assets/Galerie/Conf_dla_3.png' %}"/>
        <img src="{% static 'assets/Galerie/Conf_dla_4.png' %}"/>
        <img src="{% static 'assets/Galerie/Conf_dla_5.png' %}"/>
        <img src="{% static 'assets/Galerie/Conf_dla_6.png' %}"/>
        <img src="{% static 'assets/Galerie/Conf_dla_7.png' %}"/>
        <img src="{% static 'assets/Galerie/Conf_dla_8.png' %}"/>
        <img src="{% static 'assets/Galerie/Conf_dla_9.png' %}"/>
        <img src="{% static 'assets/Galerie/Conf_dla_10.png' %}"/>
        <img src="{% static 'assets/Galerie/Conf_dla_11.png' %}"/>
        <img src="{% static 'assets/Galerie/Conf_dla_12.png' %}"/>
        <img src="{% static 'assets/Galerie/Conf_dla_13.png' %}"/>
        <img src="{% static 'assets/Galerie/Conf_dla_14.png' %}"/>
        <img src="{% static 'assets/Galerie/Conf_dla_15.png' %}"/>
        <img src="{% static 'assets/Galerie/Conf_dla_16.png' %}"/>
        <img src="{% static 'assets/Galerie/Conf_dla_17.png' %}"/>
        <img src="{% static 'assets/Galerie/Conf_dla_18.png' %}"/>
        <img src="{% static 'assets/Galerie/Conf_dla_19.png' %}"/>
        <img src="{% static 'assets/Galerie/Conf_dla_20.png' %}"/>
        <img src="{% static 'assets/Galerie/Conf_dla_21.png' %}"/>
        <img src="{% static 'assets/Galerie/Conf_dla_22.png' %}"/>
        <img src="{% static 'assets/Galerie/Conf_dla_23.png' %}"/>
        <img src="{% static 'assets/Galerie/Conf_dla_24.png' %}"/>
        <img src="{% static 'assets/Galerie/Conf_dla_25.png' %}"/>
        <img src="{% static 'assets/Galerie/Conf_dla_26.png' %}"/>
    </div>
{% endblock content %}