{% load static %}
<style>
  *{
    box-sizing: border-box;
  }
  .footer {
    background-color: #0E2D50;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
    gap: 16px;
    width: 100%;
    /* margin: 80px auto 0 auto; */
    padding: 40px 10px;
  }

  .img-footer {
    width: 30%;
  }

  .localisation {
    width: 25%;
  }
   
  #carte { 
    margin: 0;
  }

  .liens-utiles, .contact{
      width: 20%;
  }

  .contact p, .liens-utiles p {
    color: white;
    font-weight: 200;
  }
  .liens-utiles p {
    text-transform: uppercase;
  }

  @media screen and (max-width: 768px) {
    .img-footer, .localisation{
      width: 100%;
    }
    .liens-utiles, .contact{
      width: 50%;
    }

  }

</style>

<footer>
  <div class="footer">
    <div class="img-footer">
      <img src="{% static 'logo.png' %}" alt="" style="width: 100%; height: 120px; object-fit: contain;">
    </div>
    <div class="contact">
      <p style="font-weight: 500; font-size: 1.1em; margin-bottom: 10px;">CONTACTS</p>
      <p>CONTACTEZ-NOUS</p>
      <p>Yaounde, Derrière Usine Bastos</p>
      <p>BP 35123</p>
      <P>Téléphone: +237 699340069</P>
    </div>
    <div class="liens-utiles">
      <p style="font-weight: 500; font-size: 1.1em; margin-bottom: 10px;">LIENS UTILES</p>
      <p><a href="https://www.cieducation.fr/">CIE</a></p>
      <p><a href="https://www.uco.fr/fr/home_formations">Catalogue de formations uco</a></p>
      <p><a href="https://academia.uco.fr/UCO/!formInscrs.connection?ww_c_formulaire=CANDIDATURE">Candidater à l'uco</a></p>
      <p><a href="https://www.cameroun.campusfrance.org/fr">Campus France</a></p>
    </div>
    <div class="localisation">
      <iframe width="100%" id="carte" 
            src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15922.796346793759!2d11.5268744!3d3.8745654!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x108bc5127ac8304f%3A0xab5595f35224ab78!2sLK%20Education!5e0!3m2!1sfr!2scm!4v1689139832676!5m2!1sfr!2scm"
            height="200" style="border:0;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade">
        </iframe>
    </div>
  </div>
</footer>