{% load static %}

<!-- Main Sidebar Container -->
  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="{% url 'Gestion:index' %}" class="brand-link">
      <span class="brand-text font-weight-light">LK education</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user panel (optional) -->
      {% if request.user.is_authenticated %}
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
          <div class="image">
            {% if request.session.user_photo %}
              <img src="{{ request.session.user_photo }}" alt="User">
            {% else %}
              <img src="{% static 'logo.png' %}" alt="Default Image">
            {% endif %}
          </div>
          <div class="info">
            {% if request.session.user_name %}
              <a href="{% url 'Gestion:profile' %}" class="d-block">{{ request.session.user_name }}</a>
            {% else %}
            <a href="{% url 'Gestion:profile' %}" class="d-block">Rachel Kamdem</a>
            {% endif %}
          </div>
        </div>
      {% else %}
        <a href="{% url 'login' %}" class="d-block">Se connecter</a>
      {% endif %}
    

      <!-- SidebarSearch Form -->

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
          <li class="nav-item menu-open">
            <a href="{% url 'Gestion:index' %}" class="nav-link ">
              <i class="nav-icon fas fa-tachometer-alt"></i>
              <p>
                Tableau de bord
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a href="{% url 'Gestion:liste_clients' %}" class="nav-link">
              <i class="fas fa-user"></i>
              <p>Clients</p>
            </a>
          </li>
          <li class="nav-item">
            <a href="{% url 'Gestion:liste_contacts' %}" class="nav-link">
              <i class="fas fa-envelope"></i>
              <p>Messages</p>
            </a>
          </li>
          <!-- <li class="nav-item">
            <a href="{% url 'Gestion:rendez_vous' %}" class="nav-link">
              <i class="nav-icon fas fa-ellipsis-h"></i>
              <p>Mes rendez vous</p>
            </a>
          </li> -->
          <li class="nav-item">
            <a href="{% url 'Gestion:candidatures' %}" class="nav-link">
              <i class="fas fa-graduation-cap"></i></i>
              <p>Candidatures</p>
            </a>
          </li>
          <li class="nav-item" style="background-color: white;">
            <a href="{% url 'Gestion:logout' %}" class="nav-link">
              <i class="fas fa-sign-out-alt"></i>
              <p style="color: red;">Déconnexion</p>
            </a>
          </li>
          <!-- <li class="nav-item">
            <a href="{% url 'Gestion:index' %}" class="nav-link">
              <i class="nav-icon far fa-calendar-alt"></i>
              <p>
                Evènements
                <span class="badge badge-info right">2</span>
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a href="{% url 'Gestion:discussion' %}" class="nav-link">
              <i class="nav-icon fas fa-sms"></i>
              <p>
               Discussions
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a href="{% url 'Gestion:index' %}" class="nav-link">
              <i class="nav-icon far fa-image"></i>
              <p>
                Galleries
              </p>
            </a>
          </li> -->
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>